<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="https://github.com/Bon-zip" target="_blank">Github</a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/HaVanVu2004?mibextid=ZbWKwL" target="_blank">FaceBook</a></li>
        </ul>
    </div>
</footer>